/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of the css reset cord */

/* mobile styling */
body{
	margin: auto;
	font-family: 'Dancing Script', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.5;
}
.container{
	margin: 0 auto;
}

/* main fonts styling */
h1{
	font-size: 600%;
	font-weight: bolder;
	color: white;
	margin-top: 100px;
}
h2{
	font-size: 350%;
	font-weight: bolder;
	margin-top: 50px;
}
h3{
	font-size: 200%;
	font-weight: bolder;
}
h4{
	font-size: 120%;
	font-weight: bolder;
}
.white{
	color: white;
}

/* button styling */
button{
	background-color: #222;
	color: white;
	height: 80px;
	width: 200px;
	margin-top: 10px;
}
.hb{
	background-color: #aa7914;
	color: #222;
	margin-top: 10px;
}
.vb{
	background-color: #0f253e;
	color: white;
	border: solid 1px #aa7914;
	margin-top: 10px;
}
.fb{
	background-color: #222;
	color: #aa7914;
	width: 60px;
	height: 35px;
	margin-top: 20px;
}

/* header styling */
header{
	background-color: #222;
	color: #aa7914;
}

/* home section */
.home{
	background-image: url(../images/main-banner.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	padding: 1em;
}

/* about section */
.about{
	background-color: #ffe6ac;
	padding: 1em;
}

/* service section background*/
.services{
	background-color: white;
	margin: 0 auto;
}
.scontainer{
	display: flex;
	flex-direction: column;
}

.scontainer img{
	width: 100%;
}

/* flex styling*/
.digital, .marketing, .video, .web, .print {
	background-color: #ffe6ac;
	padding: 1em;
	margin-bottom: 10px;
}

/* our vision section */
.vision{
	background-image: url(../images/vision.jpg);
	width: 100%;
	padding: 1em;
}

/* our team section */
.tcontainer{
	display: flex;
	flex-direction: column;
}
.content-john-info{
	background-color: #ffe6ac;
	padding: 1em;
	margin-bottom: 10px;
}
.content-bob-info{
	background-color: #ffe6ac;
	padding: 1em;
	margin-bottom: 10px;
}

/*contact section */
.contact{
	padding: 1em;
}
.name input, .mail input{
	display: block;
	width: 100%;
}
.message input{
	display: block;
	width: 100%;
	height: 100px;
}

/* chart section */
.table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
}
th{
	padding: 10px;
	background: #ffe6ac;
	border: solid 1px #222;
}
td{
	padding: 10px;
	border: solid 1px #222;
}

/* map styling */
.map{
	width: 100%;
	height: 500px;
}

/* footer */
footer{
	padding: 1em;
	background-color: #222;
}
footer p{
	color: #aa7914;
}